@import '../../../commons/variables.scss';

.results-text {
    color: $primary-color;
    margin-top: 66px;
    margin-bottom: 14px;
}

.search-results-container {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px 14px;
}