* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
.mb-12{
    margin-bottom: 12px !important;
}
.mb-24{
    margin-bottom: 24px !important;
}
.bg-white{
    background-color: #fff;
}
.purple{
    color: #5C2A9D;
}
.MuiTypography-root{
    &[class*=MuiTypography]{
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
    }
}