.search-page {
    min-height: 100vh;
    padding: 36px;
    
    .back-button {
        margin-bottom: 30px;
        display: inline-flex;
        text-decoration: none;

        svg {
            margin-right: 11px;
        }
    }
}